body{
    background: #468eec;
    font: normal 15pt Arial;
}
header{
    color: #f5f5dc;
    text-align: center;
}
section{
    background: #f5f5dc;
    border-radius: 10px;
    padding: 15px;
    width: 590px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.363);
    
}
footer{
    color: #000;
    text-align: center;
    font-style: italic;
}